.center
    h1 Game Over
    h2 Score : #{xp}
    br
    button#restartGame Play Again

//- <div class="center">
//- <h1>Game Over</h1>
//- <h2>Score : ${this.user.xp}</h2>
//- <br />
//- <button id="restartGame">Play Again</button>
//- </div>